/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
Client-Server/src/ClientHandler.java
Client-Server/src/Participant.java
Client-Server/src/ClientHandler.java
Client-Server/src/Participant.java
database/migrations/2024_07_21_142721_participant_scores.php
